*:not(.v-text-field > * > * *) {
  border-radius: 0.5rem !important;
}
* a {
  padding: 0 0.3rem;
  text-decoration: none;
  color: #ff5a00;
  transition: 0.5s;
}
@media (hover: hover) {
  * a:hover {
    background-color: rgba(255, 90, 0, 0.2);
  }
}
:root {
  overflow: auto;
  font-size: calc(0.5rem + 1vw);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}
:root body {
  min-height: 100vh;
}
:root body #app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  padding: 1rem;
}
