name: Azure Publish

on:
  push:
    branches:
    - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Publish App
      run: dotnet publish -c Release -o ./published
    - name: Login Azure
      uses: azure/login@v2
      with:
        client-id: ${{ vars.BOT_CEALINGCAT_CLIENT_ID_6F42 }}
        tenant-id: ${{ vars.BOT_CEALINGCAT_TENANT_ID_6F42 }}
        subscription-id: ${{ vars.BOT_CEALINGCAT_SUBSCRIPTION_ID_6F42 }}
    - name: Deploy App
      uses: Azure/functions-action@v1
      with:
        app-name: bot-cealingcat
        package: ./published